<template>
  <div id="app">
    <nav-bar v-if="$route.name !== 'signin'" />
    <router-view />
  </div>
</template>

<script>
import NavBar from '@/features/HomeWidgets/components/NavBar.vue';

export default {
  components: {
    NavBar,
  }
}
</script>

<style lang="scss">
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
</style>
