$bg-1: #7B8D93; // Extra deep
$bg-2: #CFD8DC; // Deep
$bg-3: #E5E5E8; // lite
$bg-4: #F3F3F3; // Extra lite

$txt-1: #687073;
$txt-2: #7B8D93;
$txt-3: #888888;
$txt-4: #FFFFFF;

$highlight: #89cff1;

$navbar-height: 44px;
$filter-panel-width: 200px;

@mixin text-truncate($max-lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $max-lines;
}
