<template>
  <div class="auth">
    <div v-if="shouldLogin" class="header">
      Login to Credible
    </div>
    <div v-else class="header">
      Create an account
    </div>
    <hr>
    <text-input
      class="input-field"
      placeholder="Username"
      v-model="username"
    />
    <text-input
      class="input-field"
      type="password"
      placeholder="Password"
      v-model="password"
    />
    <c-button
      class="input-field"
      :label="`${shouldLogin ? 'Don\'t have' : 'Already has'} an account?`"
      @click="shouldLogin=!shouldLogin"
    />
    <c-button
      class="input-field float-right"
      :label="shouldLogin ? 'Login' : 'Register'"
      @click="shouldLogin ? login() : register()"
      primary
    />
    <hr>
    <span
      v-if="status"
      v-html="status"
      class="status"
    />
  </div>
</template>

<script>
import TextInput from '@/design-library/TextInput.vue';
import cButton from '@/design-library/cButton.vue';

export default {
  data() {
    return {
      shouldLogin: true,
      status: '',
      username: '',
      password: '',
    }
  },
  methods: {
    async login() {
      this.status = this.checkFieldStatus();
      if (this.status) {
        return;
      }

      try {
        await this.$store.dispatch('login', { username: this.username, password: this.password });
        this.$router.push('home');
      } catch (err) {
        this.status = 'Failed to login.';
      }
    },
    async register() {
      this.status = this.checkFieldStatus();
      if (this.status) {
        return;
      }

      try {
        await this.$store.dispatch('register', { username: this.username, password: this.password });
        this.$router.push('home');
      } catch (err) {
        this.status = 'Failed to register.';
      }
    },
    checkFieldStatus() {
      if (!this.username.trim()) {
        return 'Username is empty';
      }

      if (!this.password.trim()) {
        return 'Password is empty!';
      }

      return '';
    },
  },
  components: {
    TextInput,
    cButton,
  },
}
</script>

<style lang="scss" scoped>
.auth {
  width: 400px;
  position: absolute;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
  background: $bg-3;
  padding: 12px;

  .header {
    font-size: 22px;
    font-weight: 600;
    color: $txt-1;
    text-align: center;
  }

  .input-field {
    margin-top: 12px;
  }

  .float-right {
    float: right;
  }

  .status {
    font-size: 12px;
    color: $txt-1;
  }
}
</style>
