<template>
  <div class="article-card" @click="$emit('click')">
    <div class="title">{{ article.title }}</div>
    <formatted-description :description="article.description" :truncate="true" class="body" />
    <div class="footer">
      <span class="publisher-title">Publisher: {{ article.publisher.title }}</span>
      <span class="publish-date">Published at: {{ article.published_at | formatDate }}</span>
    </div>
  </div>
</template>

<script>
import FormattedDescription from './FormattedDescription';

export default {
  props: {
    article: { type: Object },
  },
  components: {
    FormattedDescription,
  },
}
</script>

<style lang="scss" scoped>
.article-card {
  background-color: $bg-3;
  padding: 12px;
  cursor: pointer;

  .title {
    font-size: 24px;
    font-weight: bold;
    color: $txt-2;
    @include text-truncate(1);
  }

  .footer {
    font-size: 14px;
    color: $txt-3;
    margin-top: 4px;
    position: relative;

    .publish-date {
      left: 50%;
      position: absolute;
    }
  }

  &:hover {
    border: 2px solid $highlight;
    padding: 10px;
  }
}
</style>
