<template>
  <b-modal id="article-previewer" size="xl">
    <template v-slot:modal-header>
      <div class="header">
        <div class="origin">{{ origin }}</div>
        <div class="title">{{ article.title }}</div>
        <div class="publisher-info">
          <span class="publisher-title">Publisher:
            <a :href="article.original_url" target="_blank">{{ article.publisher.title }}</a>
          </span>
          <span class="publish-date">Published at: {{ article.published_at | formatDate }}</span>
        </div>
      </div>
    </template>
    <template v-slot:default>
      <div class="body">
        <div v-if="article.author" class="author">Author: {{ article.author }}</div>
        <formatted-description :description="article.description" class="description" />
      </div>
    </template>
    <template v-slot:modal-footer="{ close }">
      <div class="footer">
        <c-button
          class="btn"
          label="Publish"
          @click="_.noop"
          primary
        />
        <c-button
          class="btn"
          label="Close"
          @click="close"
        />
      </div>
    </template>
  </b-modal>
</template>

<script>
import cButton from '@/design-library/cButton';
import FormattedDescription from './FormattedDescription';

export default {
  props: {
    origin: { type: String },
    article: { type: Object },
  },
  components: {
    cButton,
    FormattedDescription,
  },
}
</script>

<style lang="scss">
.modal-content { // TODO: Move it to somewhere common.
  border-radius: 0;
}

#article-previewer {
  .header, .body, .footer {
    width: 100%;
    padding: 32px;
  }

  .header {
    padding-bottom: 0;
  }

  .body {
    padding: 0 32px;
  }

  .footer {
    padding-top: 0;
  }

  .origin {
    font-size: 12px;
    color: $txt-3;
  }

  .title {
    font-size: 24px;
    color: $txt-2;
    font-weight: bold;
  }

  .publisher-info, .author {
    position: relative;
    font-size: 14px;
    color: $txt-3;
  }

  .publisher-info .publish-date {
    position: absolute;
    left: 50%;
  }

  .author {
    padding-bottom: 8px;
  }

  .btn {
    float: right;
    margin-left: 8px;
  }
}
</style>
