<template>
  <div class="formatted-description" :class="{ truncate }">
    <div v-html="description_" />
  </div>
</template>

<script>
export default {
  props: {
    description: { type: String },
    truncate: { type: Boolean },
  },
  computed: {
    description_() {
      if (!this.truncate) { return this.description; }

      const img_tag_pattern = /<img\s.*?>/g;
      const empty_p_pattern = /<p>\s*?<\/p>/g;
      const first_image = _.first(this.description.match(img_tag_pattern));

      let description_ = this.description.replace(img_tag_pattern, '').replace(empty_p_pattern, '');
      if (first_image) {
        description_ = `<p>${first_image}</p>${description_}`
      }

      return description_;
    }
  },
}
</script>

<style lang="scss">
.formatted-description {
  font-size: 16px;
  color: $txt-3;
  text-align: justify;

  &.truncate {
    @include text-truncate(3);

    img {
      width: 100px;
      max-height: 70px;
      margin: 0 0 12px 12px;
    }

    img:before {
      height: 100%;
      padding: 0;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img:after {
      display: none;
    }

    p {
      margin: 0;
    }
  }

  img {
    width: 50%;
    float: right;
    margin: 0 0 16px 32px;
    position: relative;
    min-height: 70px;
    border: 1px dotted $bg-2;
  }

  img:before {
    content: 'We\'re sorry, the image isn\'t showing up :(';
    margin: 0 auto;
    position: absolute;
    padding-top: 12px;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: $bg-4;
  }

  img:after {
    content: 'The original publisher may be blocking the hotlinking. Please check their website.';
    margin: 0 auto;
    position: absolute;
    height: 28px;
    padding-bottom: 12px;
    font-size: 10px;
    width: 100%;
    top: 40px;
    left: 0;
    text-align: center;
    background-color: $bg-4;
  }
}
</style>
