<template>
  <div class="sources">
    <div class="title">Sources</div>
    <div class="filter-panel-container">
      <filter-panel
        :filters="filterSchema"
        @change="onChange"
        :values="searchParams"
      />
    </div>
    <div class="public-content" v-infinite-scroll="fetchMoreContent">
      <div v-if="_.isEmpty(content)" class="no-content">No content found!</div>
      <template v-if="searchParams.contentType === 'article'">
        <article-card
          v-for="article in content"
          class="article-card"
          :article="article"
          :key="article.guid"
          @click="previewContent(article)"
        />
      </template>
    </div>
    <article-previewer
      v-if="searchParams.contentType === 'article'"
      origin="Public Content"
      :article="selectedContent"
    />
  </div>
</template>

<script>
import _ from 'lodash';

import FilterPanel from '@/design-library/FilterPanel';
import ArticleCard from '../components/ArticleCard';
import ArticlePreviewer from '../components/ArticlePreviewer';

import { getPublishers, getContent } from '../services/PublicContent';

const filterSchema = [
  { name: 'contentType', label: 'Content Type', type: 'dropdown', prepend: true, options: [{label: 'Article', value: 'article'}, {label: 'Image', value: 'image'}] },
  { name: 'q', label: 'Search', type: 'textinput', prepend: true },
  { name: 'publishers', label: 'Publishers', type: 'checkbox', options: [] },
];

export default {
  created() {
    this.fetchPublishers();
    this.fetchContent();
  },
  data() {
    return {
      filterSchema,
      searchParams: {
        q: '',
        contentType: 'article',
        publishers: [],
        offset: 0,
        pageSize: 10,
      },
      content: [],
      selectedContent: null,
      reachedBottom: false,
    };
  },
  methods: {
    onChange(values) {
      this.searchParams = {...this.searchParams, ...values, offset: 0};
      this.fetchContent();
    },
    async fetchPublishers() {
      try {
        const publishers = await getPublishers();
        const publisherFilter = _.find(this.filterSchema, { name: 'publishers' });
        publisherFilter.options = publishers.map(publisher => ({ name: publisher.guid, label: publisher.title }));
      } catch(err) {
      }
    },
    async fetchContent() {
      try {
        const searchResponse = await getContent(this.searchParams);
        this.content = searchResponse.results;
        this.reachedBottom = !searchResponse.returned;
      } catch(err) {
      }
    },
    async fetchMoreContent() {
      if (this.reachedBottom) {
        return;
      }

      try {
        this.searchParams.offset += this.searchParams.pageSize;
        const searchResponse = await getContent(this.searchParams);
        this.content = [...this.content, ...searchResponse.results];
        this.reachedBottom = !searchResponse.returned;
      } catch(err) {
      }
    },
    previewContent(content) {
      this.selectedContent = content;
      this.$bvModal.show('article-previewer');
    }
  },
  components: {
    FilterPanel,
    ArticleCard,
    ArticlePreviewer,
  }
}
</script>

<style lang="scss" scoped>
$title-height: 48px;

.sources {
  height: calc(100vh - #{$navbar-height});
  overflow: hidden;

  .title {
    height: $title-height;
    line-height: $title-height;
    margin-left: 8px;
    font-size: 24px;
    font-weight: bold;
    color: $txt-1;
  }

  .filter-panel-container {
    height: calc(100% - #{$title-height});
    float: left;
  }

  .public-content {
    margin: 0 16px 16px calc(#{$filter-panel-width} + 16px);
    height: calc(100% - #{$title-height});
    overflow: auto;

    .article-card {
      margin-bottom: 16px;
    }

    .no-content {
      font-size: 32px;
      text-align: center;
      color: $bg-2;
    }
  }
}
</style>
