<template>
  <b-button size="sm" @click="$emit('click')" :variant="primary ? 'secondary' : 'secondary-outline'" class="button" :class="primary ? 'primary' : ''">
    {{ label }}
  </b-button>
</template>

<script>
export default {
  props: {
    label: { type: String },
    primary: { type: Boolean, default: false },
  }
}
</script>

<style lang="scss" scoped>
.button {
  display: inline-block;
  padding: 0 12px;
  min-width: 52px;
  height: 32px;
  line-height: 28px;
  border: 1px solid $txt-3;
  color: $txt-3;
  cursor: pointer;
  border-radius: 0;

  &:hover {
    color: $txt-2;
    border-color: $txt-2;
  }
}

.primary {
  background-color: $txt-3;
  color: $txt-4;

  &:hover {
    color: $txt-4;
  }
}
</style>
