<template>
  <label class="checkbox">
    {{ label }}
    <input type="checkbox" v-model="state" @change="$emit('change', state)" />
    <span class="checkmark" />
  </label>
</template>

<script>
export default {
  data() {
    return {
      state: this.value,
    };
  },
  props: {
    label: { type: String },
    value: { type: Boolean, default: false },
  }
}
</script>

<style lang="scss" scoped>
.checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  user-select: none;
  height: 24px;
  line-height: 24px;
  font-size: 15px;
  color: $txt-1;
  margin: 0;

  input {
    display: none;
  }

  .checkmark {
    position: absolute;
    top: calc(50% - 8px);
    left: 0;
    height: 16px;
    width: 16px;
    border: 2px solid $bg-1;

    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 4px;
      top: 0px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.checkbox input:checked ~ .checkmark {
  background: $bg-1;

  &:after {
    display: block;
  }
}
</style>
