<template>
  <div class="dropdown">
    <select @change="$emit('select', selected)" v-model="selected">
      <optgroup :label="label">
        <option v-for="option in options" :key="option.value" :value="option.value">
          {{ option.label }}
        </option>
      </optgroup>
    </select>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  data() {
    const selected = _.find(this.options, { value: this.value }) || _.first(this.options);
    return {
      selected: selected && selected.value,
    };
  },
  props: {
    label: { type: String },
    options: { type: Array },
    value: { type: String },
  },
}
</script>

<style lang="scss" scoped>
.dropdown {
  select {
    width: 100%;
    height: 32px;
    background-color: $bg-2;
    border: none;
    padding-left: 8px;
    color: $txt-1;
    border-radius: 4px;
    font-size: 14px;
    font-size: 14px;
  }
} 
</style>
