<template>
  <div class="filterpanel">
    <template v-for="(filters, index) in partitions">
      <template v-for="filter in filters">
        <dropdown
          v-if="filter.type === 'dropdown'"
          class="filtergroup dropdown"
          :key="filter.name"
          :label="filter.label"
          :value="params[filter.name]"
          :options="filter.options"
          @select="value => onParamUpdate(filter.name, value)"
        />
        <text-input
          v-if="filter.type === 'textinput'"
          class="filtergroup textinput"
          :key="filter.name"
          :placeholder="filter.label"
          :value="params[filter.name]"
          @submit="value => onParamUpdate(filter.name, value)"
        />
        <selection-group
          v-if="filter.type === 'checkbox'"
          class="filtergroup checkbox"
          :key="filter.name"
          :label="filter.label"
          :value="params[filter.name]"
          :options="filter.options"
          @change="value => onParamUpdate(filter.name, value)"
        />
      </template>

      <div class="header" v-if="index == 0" :key="index">
        Filters
      </div>
    </template>
  </div>
</template>

<script>
import _ from 'lodash';
import Dropdown from './Dropdown';
import TextInput from './TextInput';
import SelectionGroup from './SelectionGroup';

export default {
  // Todo: Add custom prop validation
  props: {
    filters: { type: Array, default: _.constant([]) },
    values: { type: Object, default: _.constant({}) },
  },
  data() {
    return {
      partitions: _.partition(this.filters, filter => filter.prepend),
      params: _.pick(this.values, _.map(this.filters, 'name')),
    };
  },
  methods: {
    onParamUpdate(name, value) {
      this.params[name] = value;
      this.$emit('change', _.cloneDeep(this.params));
    }
  },
  components: {
    Dropdown,
    TextInput,
    SelectionGroup,
  },
}
</script>

<style lang="scss" scoped>
.filterpanel {
  width: $filter-panel-width;
  height: 100%;
  background-color: $bg-3;
  padding: 8px;

  .header {
    height: 40px;
    width: 100%;
    line-height: 36px;
    font-size: 18px;
    border-top: 2px solid $bg-1;
    border-bottom: 2px solid $bg-1;
    color: $txt-1;
    font-weight: bold;
    margin-top: 8px;
  }

  hr {
    margin: 8px 0 0 0;
    border: 1px solid $bg-1;
  }

  .filtergroup {
    margin-top: 8px;
  }

  .filtergroup:first-child {
    margin-top: 0;
  }
}
</style>
