<template>
  <div class="selection-group">
    <div class="label">{{ label }}</div>
    <checkbox
      v-for="option in options"
      class="checkbox"
      :key="option.name"
      :label="option.label"
      :value="states[option.name]"
      @change="value => onItemToggle(option.name, value)"
    />
  </div>
</template>

<script>
import _ from 'lodash';
import Checkbox from './Checkbox';

export default {
  created() {
    this.options.forEach(({ name }) => {
      this.states[name] = this.value.includes(name);
    });
  },
  data() {
    return {
      states: {},
    };
  },
  props: {
    label: { type: String },
    options: { type: Array, default: _.constant([]) }, // ArrayOf({name: String, label: String})
    value: { type: Array, default: _.constant([])},
  },
  methods: {
    onItemToggle(name, value) {
      this.states[name] = value;

      const checkedOptions = _(this.states).pickBy(_.identity).keys().value();
      this.$emit('change', checkedOptions);
    }
  },
  components: {
    Checkbox,
  },
}
</script>

<style lang="scss" scoped>
.selection-group {
  .label {
    font-size: 16px;
    font-weight: bold;
    color: $txt-1;
  }
}
</style>
