<template>
  <div class="textinput">
    <input
      :type="_type"
      :placeholder="placeholder"
      :value="value"
      @keypress.enter="event => $emit('submit', event.target.value)"
      @input="event => $emit('input', event.target.value)"
    >
  </div>
</template>

<script>
import _ from 'lodash';

const VALID_TYPES = ['text', 'password'];

export default {
  props: {
    placeholder: { type: String },
    value: { type: String, default: '' },
    type: { type: String, default: 'text' },
  },
  computed: {
    _type() {
      return VALID_TYPES.includes(this.type) ? this.type : VALID_TYPES[0];
    },
  },
}
</script>

<style lang="scss" scope>
.textinput {
  input {
    width: 100%;
    height: 32px;
    background-color: $bg-4;
    border: none;
    padding: 0 12px;
    color: $txt-1;
    font-size: 14px;
  }
}
</style>
