<template>
  <div class="navbar">
    <div class="options">
      <div v-for="tab in tabs"
        :key="tab.routeName"
        @click="$router.push(tab.routeName)"
        :class="{active: $route.name === tab.routeName}"
        v-html="tab.label"
      />
    </div>
    <div class="avatar" @click="logout">
      <b-img
        class="thumbnail"
        :src="require('@/assets/avatar.jpg')"
        rounded="circle"
      />
    </div>
  </div>
</template>

<script>
import _ from 'lodash';

const TABS = [
  { routeName: 'home', label: '<i class="fas fa-home"></i>' },
  { routeName: 'sources', label: 'Sources' },
  { routeName: 'assets', label: 'Assets' },
  { routeName: 'publications', label: 'Publications' },
];

const component = {
  methods: {
    async logout() {
      await this.$store.dispatch('logout');
      this.$router.push('signin');
    }
  },
  computed: {
    tabs: _.constant(TABS),
  }
}

component.TABS = TABS;
export default component;
</script>

<style lang="scss" scoped>
.navbar {
  padding: 0;
  height: $navbar-height;
  width: 100%;
  background-color: $bg-2;
  color: $txt-2;
  font-family: cursive;
}

.options {
  height: $navbar-height;
  line-height: $navbar-height;

  div {
    padding: 0 16px;
    display: inline-block;
    border-right: 1px solid $bg-1;
    cursor: pointer;

    &:hover {
      background-color: $bg-3;
    }
  }

  .active {
    background-color: $bg-1;
    color: $txt-4;

    &:hover {
      background-color: $bg-1;
    }
  }
}

.avatar {
  background-color: $bg-3;
  margin: 4px;
  height: calc(#{$navbar-height} - 8px);
  width: calc(#{$navbar-height} - 8px);
  border-radius: 100%;
  display: inline-block;

  img {
    height: calc(#{$navbar-height} - 8px);
    width: calc(#{$navbar-height} - 8px);
  }
}
</style>
